@import "./variables";

.main {
  height: 99.5vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;

  &__body {
    flex-basis: 100%;
    height: calc(100% - 100px);
    display: flex;
    align-items: flex-end;
    overflow: auto;

    &__boxNotes {
      max-height: 100%;
      width: 100%;
      overflow-y: auto;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    &--note {
      margin-block-end: 10px;
      padding: 5px;
      border: 1px solid hsl(0, 1%, 86%);
      border-radius: 10px;
      margin-left: 10px;
      width: fit-content;
    }
  }

  &__inputBtn {
    width: 100%;
  }
}
