<div class="main">
  <h1>{{ collection }}</h1>
  <div class="main__body">
    <ul class="main__body__boxNotes" #scrollToButtom>
      <div class="note-box">
        <li *ngFor="let note of notes" class="main__body--note">{{ note }}</li>
      </div>
    </ul>
  </div>
  <div class="main__inputBtn">
    <app-add-note (sendNote)="storeNote($event)"></app-add-note>
  </div>
</div>
