<div class="mainbox">
  <textarea
    (keydown.enter)="onKeydown($event)"
    placeholder="Type here and press enter to send note"
    [(ngModel)]="draft"
    (keyUp.enter)="sendDraft()"
    class="text-area"
  ></textarea>
  <button id="btn" (click)="sendDraft()" class="btn">{{ textButton }}</button>
</div>
