.mainbox {
  width: 100%;
  display: flex;
}

.text-area {
  width: calc(100% - 14%);
}

.btn {
  width: 14%;
}

@media screen and (min-width: 600px) {
  .text-area {
    width: 100%;
  }

  .btn {
    display: none;
  }
}
